

@font-face {
    font-family: 'Raleway-Black', 'Raleway ExtraBold';
    src: url("../font/Raleway-Black.ttf");
}

body {
    background: #2650a2;
    overflow: auto;
}
.image{
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
}
.image img{
    width: 100vw;
    height: 100vh;
}
.container__aux {
    height: 100vh;
    width: 100%;
    z-index: 99;
    overflow: hidden;
}

.carousel-item img {
    height: 15em;
    min-width: 3em;
    border: #131313 0.6px solid ;
    border-radius: 1em;
}




a {
    font-family: "Raleway ExtraBold", sans-serif !important;
    font-style: inherit;
    color: white !important;
}

ul {
    margin-right: 6em;

}

li {
    margin-right: 2em;
}

.carousel-item {
    width:40vw; 
    background: #131313;
    border-radius: 1em;
}

.navbar-toggler-icon {
    background: white;
}

.over-image {
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-nav {
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.9);
}




/*/////////////////////////////////////////////////////////////////////////////////*/
.container-carousel {
    width: 60%;
    align-items: center !important;
    padding-left: 5%;
}
 
.container-presentacion{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-information{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-message{
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 1em;
    padding: 1em;
    height: auto;
    color: white;
    z-index: 99;
}
.container-integrations{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top:2% ;
    z-index: 99;
}

.btn-colors {
    background: black;
    font-family: "Raleway ExtraBold", sans-serif;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
    font-size: 1.5em;
}


/*upload file*/
.title-center{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
}

.modal-content{
    background: #707070 !important;
}
.modal-title{
    font-family: "Raleway ExtraBold", sans-serif;
    color: #131313;
}


input{
    background-color: white !important;
    color: black !important;
    border: white 2px solid;
    border-radius: 4px;
    padding: 10px;
    font-family: "Raleway SemiBold",sans-serif;
}
.container-name{
    display: flex;
}

.container-name div{
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.container-email{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.email input,
.email div{
    width: 90%;
}
.dropzone{
    background: rgba(255,255,255,0.37) !important;
    border: #131313 2px dashed !important;
    text-align: center;
}

.fas{
    font-size: 6em;
}

.container-btn-upload {
    border: white 2px solid !important;
    border-radius: 10px;
    font-family: "Raleway ExtraBold", sans-serif;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.dz-default{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-primary{
    background-color: rgba(255,255,255,0.6);
    font-family: "Raleway ExtraBold", sans-serif;
    width: 30%;
    border: none;
}
/*hover*/
input:hover{
    border: #131313 2px solid ;
}
.container-btn-upload:hover{
    background-color: #2650a2;

}
 
.message-validations{
    display: none;
    color: red;
    font-size: 0.8em;
    background-color: #838383;
    width: 100%;
    border-radius:0 0 4px 4px ;
}
/*spinner**/
.bg  > div{
    width: 5em;
    height: 5em;
    color: white;
}

.bg-color{

    width: 100%;
    position: absolute;
    z-index: 99 ;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal {
    position: fixed;
}

.appWpp{
    position: fixed;
    right: 26px;
    bottom: 100px;
    width: 60px;
    z-index: 1000;
}
.appWpp img{
    width: 100%;height: auto;
}


