@media only screen and (max-width: 2000px) and (max-height: 2000px) {
    .container-logo{
        margin-bottom: 2em;
    }
    .imgLogo {
        width: 30em;
        background: rgba(0,0,0,0);
    }

    h1 {
        font-size: 4em;
        letter-spacing: 0.6em;
    }

    h3 {
        font-size: 2em;
        letter-spacing: 0.2em;
    }

    .menuAndLogo {
        align-items: baseline;
    }

    .container-menu, .menu {
        width: 100%;
    }

    .menu div {
        width: 100%;
    }

    .menu button {
        margin: 0.5em;
        width: 90%;
        font-size: 1.5em;
        font-family: "Raleway ExtraBold", sans-serif;
        padding-top: 1em;
        padding-bottom: 1em;
    }

}

@media only screen and (max-width: 1500px) and (max-height: 700px) {
    .imgLogo {
        width: 30em;
    }
    .container-logo{
        margin-bottom: 2em;
    }
    .imgLogo {
        width: 30em;
        background: rgba(0,0,0,0);
    }

    h1 {
        font-size: 4em;
        letter-spacing: 0.6em;
    }

    h3 {
        font-size: 2em;
        letter-spacing: 0.2em;
    }

    .menuAndLogo {
        align-items: baseline;
    }

    .container-menu, .menu {
        width: 100%;
    }

    .menu div {
        width: 100%;
    }

    .menu button {
        margin: 0.5em;
        width: 90%;
        font-size: 1.5em;
        font-family: "Raleway ExtraBold", sans-serif;
        padding-top: 1em;
        padding-bottom: 1em;
    }

}


@media only screen and (max-width: 360px) and (max-height: 700px) {
    .imgLogo {
        width: 30em;
    }

    h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 1.8em;
    }

    .menuAndLogo {
        align-items: baseline;
    }

    .menu {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .container-menu, .menu {
        width: 100%;
    }

    .menu div {
        width: 100%;
    }

    .menu button {
        margin: 0.5em;
        width: 90%;
        font-size: 2em;
    }
}


@media only screen and (max-width: 450px) and (max-height: 830px) and (min-width: 400px) {
    .imgLogo {
        width: 31em;
    }

    h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 1.8em;
    }

    .menuAndLogo {
        align-items: baseline;
    }

    .menu {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .container-menu, .menu {
        width: 100%;
    }

    .menu div {
        width: 100%;
    }

    .menu button {
        margin: 0.5em;
        width: 90%;
        font-size: 2em;
    }

}

@media only screen and (max-width: 330px) and (max-height: 600px) {

}


@media only screen and (max-width: 380px) and (max-height: 700px)and (min-width: 330px) {
    .imgLogo {
        width: 20em;
    }
}

@media only screen and (max-width: 415px) and (max-height: 740px)  {
    .imgLogo {
        width: 20em;
    }

    h1{
        font-size:2em;
    }

    h3{
        font-size:1em;
    }

}

@media only screen and (max-width: 415px) and (max-height: 850px)  {

    .imgLogo {
        width: 20em;
    }
    h1{
        font-size:2.3em;
    }

    h3{
        font-size:1.4em;
    }

}




@media only screen and (max-width: 400px) and (max-height: 815px)  {

    .imgLogo {
        width: 20em;
    }
    h1{
        font-size:2.3em;
    }

    h3{
        font-size:1.4em;
    }

    .menu{
        flex-direction:column
    }

}



@media only screen and (max-width: 770px) and (max-height: 1030px)  {

    .imgLogo {
        width: 20em;
    }
    h1{
        font-size:2.3em;
    }

    h3{
        font-size:1.4em;
    }

    .menu{
        flex-direction:column
    }
}


@media (max-width : 1030px) and (max-height:1370px){

    .modal-dialog{
        padding-top:5em !important;
        align-items:start;
    }

    .over{
        height:90%;
    }

    .informations h3{
        font-size:5em;
    }
    .informations p {
        font-size:1.5em
    }
}